/**
 * author: Marek Klofera
 * login: xklofe01
 */
$primary-color: #FFB900;
$secondary-color: #B900FF;
$black-color: #232323;
$white-color: rgb(243, 243, 243);
$text-main-color: #232323;
$text-inverted-color: #ffffff;